<% provide(:title, "Home") %>

<br>
<br>

<div class="row text-center">
	<h2>The best OCR tool to Convert PDF to Text</h2>
	<h5 id="subtitle">Select text in scanned PDF files or download text to a Word file using online OCR</h5>

</div>
