<nav class="navbar navbar-dark" style="background-color: #720ff2;">
  <div class="container">
    <span class="navbar-brand">
      <%= link_to "Online OCR", '#', id: "logo" %>
    </span>
    <span class="navbar-text">
      Convert PDF to Text
    </span>
  </div>
</nav>