<nav class="navbar navbar-dark" style="background-color: #720ff2;">
  <div class="container">
    <span class="navbar-brand">
      <%= link_to "Online OCR", root_path, id: "logo" %>
    </span>
    <span class="navbar-text">
      <%= 3 - @session.count %> free credits remaining
    </span>
  </div>
</nav>